@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.categories__container {
  display: flex;
}
.sidebar {
  background: rgb(0, 195, 255);
  background: linear-gradient(
    90deg,
    rgb(0, 204, 255) 0%,
    rgb(0, 110, 255) 100%
  );
  width: 25%;
  height: 100vh;
  padding: 50px 0;
  color: aliceblue;
  position: fixed;
}
.sidebar > h3 {
  /* color: orangered; */
  padding-left: 40px;
}
.filter {
  margin-top: 50px;
  padding: 30px 40px;
}
.filter h3 {
	font-size: 199%;
  margin-bottom: 30px;
}
.contant {
  width: 75%;
  position: absolute;
  right: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  color: #002147;
}
.header p {
  font-size: 30px;
  font-weight: bold;
}
.fil-p {
  padding: 15px 15px;
  background-color: white;
  margin: 7px 0;
  cursor: pointer;
  color: rgb(0, 204, 255);
  text-align: justify;
}
.fil-p:hover {
  color: aliceblue;
  background: transparent;
  border: 2px solid aliceblue;
  transition: 0.9s;
}
button {
  width: 100%;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 162, 255);
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}

#root {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 30px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid rgb(0, 162, 255);
  padding: 15px;
}
.box > h3 {
  margin-bottom: 20px;
  color: rgb(0, 162, 255);
}
.img-box {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images {
  max-height: 90%;
  max-width: 90%;
  object-fit: cover;
  object-position: center;
}
.bottom {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
h2 {
  font-size: 20px;
  color: rgb(0, 140, 255);
}
button:hover {
  border: 2px solid rgb(0, 162, 255);
  background: transparent;
  color: rgb(0, 162, 255);
  transition: 0.4s;
}
