.product-grid{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  
}
.product-grid .product-image{
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: rgb(217, 245, 245);
  width: 100%;
  height: 100%;
  
}
.product-grid .product-image a.image{display: block; }
.product-grid .product-image img{
  width: 100%;
  height: auto;
}

.product-grid .product-links{
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 10px;
  right: -50px;
  transition: all .5s ease 0s;
}
.product-grid:hover .product-links{ right: 10px; }
.product-grid .product-links li a{
  color: #333;
  background: transparent;
  font-size: 17px;
  line-height: 38px;
  width: 38px;
  height: 38px;
  border: 1px solid #333;
  border-bottom: none;
  display: block;
  transition: all 0.3s;
}
.product-grid .product-links li:last-child a{ border-bottom: 1px solid #333; }
.product-grid .product-links li a:hover{
  color: #fff;
  background: #333;
}
.product-grid .add-to-cart{
  background: #9bd9ec;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  padding: 10px 26px;
  position: absolute;
  left: 0;
  bottom: -60px;
  transition: all 0.3s ease 0s;
}
.product-grid:hover .add-to-cart{ bottom: 0; }
.product-grid .add-to-cart:hover{ text-shadow: 4px 4px rgba(0,0,0,0.2); }
.product-grid .product-content{
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.1) inset;
}
.product-grid .title{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 7px;
}
.product-grid .title a{
  color: #777;
  transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #a5ba8d; }
.product-grid .price{
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 600;
}
.product-grid .price span{
  color: #888;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
}
@media screen and (max-width: 990px){
  .product-grid{ margin-bottom: 30px; }
}

/* ***************************************************************************************************** */

.product-grid1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border: 1px solid #e7e7e7;
}
.product-grid1 .product-image1{ position: relative; }
.product-grid1 .product-image1 a.image{ display: block; }
.product-grid1 .product-image1 img{
  width: 100%;
  height: auto;
  transition: all 0.3s ease 0s;
  background-color: rgb(217, 245, 245);
  width: 100%;
  height: 100%;
}
.product-grid1 .product-image1:hover img{ transform: translate(10px,-10px); }
.product-grid1 .product-sale-label{
  color: #fff;
  background: #1abc9c;
  font-size: 13px;
  text-transform: capitalize;
  line-height: 35px;
  width: 55px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  animation: bg-animate 5s infinite linear;
}
.product-grid1 .product-links1{
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  bottom: 15px;
  left: 20px;
  transition: all 0.3s ease 0s;
}
.product-grid1:hover .product-links1{ opacity: 1; }
.product-grid1 .product-links1 li{
  margin: 0 0 5px;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease 0s;
}
.product-grid1:hover .product-links1 li:nth-child(2){ transition: all 0.3s ease 0.15s; }
.product-grid1:hover .product-links1 li{
  opacity: 1;
  transform: translateX(0);
}
.product-grid1 .product-links1 li a{
  color: #fff;
  background-color: #00b894;
  font-size: 14px;
  text-shadow: 0 0 3px rgba(0,0,0,0.7);
  padding: 8px 10px;
  display: block;
  opacity: 0.9;
  transition: all 0.3s ease 0s;
  animation: bg-animate 5s infinite linear;
}
.product-grid1 .product-links1 li a:hover{
  color: #fff;
  box-shadow: 0 0 0 3px #fff inset;
  opacity: 1;
}
.product-grid1 .product-links1 li a i{ margin: 0 5px 0 0; }
.product-grid1 .product-content1{ padding: 15px 0 5px; }
.product-grid1 .title{
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0 10px 14px;
  margin: 0 0 7px;
  border-bottom: 1px solid #dfe5e9;
}
.product-grid1 .title a{
  color: #000;
  transition: all 0.3s ease 0s;
}
.product-grid1 .title a:hover{ animation: color-animate 5s infinite linear; }
.product-grid1 .price{
  color: #1abc9c;
  font-size: 20px;
  font-weight: 400;
  animation: color-animate 5s infinite linear;
}
.product-grid1 .price span{
  color: #999;
  text-decoration: line-through;
  margin: 0 3px 0 0;
}
@keyframes color-animate{
  0%{ color: #00b894; }
  20%{ color: #00cec9; }
  40%{ color: #0984e3; }
  60%{ color: #6c5ce7; }
  80%{ color: #e84393; }
  100%{ color: #00b894; }
}
@keyframes bg-animate{
  0%{ background-color: #00b894; }
  20%{ background-color: #00cec9; }
  40%{ background-color: #0984e3; }
  60%{ background-color: #6c5ce7; }
  80%{ background-color: #e84393; }
  100%{ background-color: #00b894; }
}
@media screen and (max-width:1200px){
  .product-grid1{ margin: 0 0 30px; }
}

